{% extends "base.html" %}

{% block title %}Create Page{% endblock %}
{% block homeActive %}"nav-item"{% endblock %}
{% block createActive %}"nav-item active"{% endblock %}


{% block content %}
<br />
<p class="createDescription center">Choose the Reddit thread that you want the text from and the background video from the dropdowns. Then hit generate and let the magic happen!</p>
<br />


<div class="center">
    <label class="dropdownLabel" for="dropdown1">Content:</label>
    <select class="dropdown" id="dropdown1" name="dropdown1">
      <option value="AITAH">r/AITAH</option>
      <option value="TIFU">r/TIFU</option>
      <option value="stories">r/stories</option>
      <option value="wholesomestories">r/wholesomestories</option>
      <option value="confessions">r/confessions</option>
      <option value="relationship_advice">r/relationship_advice</option>
    </select>
</div>

  <br />
<div class="center">
  <label class="dropdownLabel" for="dropdown2">Video:</label>
  <select class="dropdown" id="dropdown2" name="dropdown2">
    <option value="Subway Surfers">Subway Surfers</option>
    <option value="Generated Images">General Videos</option>
    <option value="Minecraft Parkour">Minecraft Parkour</option>
  </select>
</div>

<div class="container hover">
  <a href="#" class="button generateBtn" onclick="submitFormAndShowLoadingCircle()">Generate</a>
</div> 

<div id="loading-circle" style="display: none">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div id="loading-text" style="display: none">
  Loading...
</div>

<div class="center">
  <video class="center video" width="480" height="360" controls class="video">
    <source src="../static/videos/video.mp4" type="video/mp4">
  </video>
</div>

<script>
    function submitFormAndShowLoadingCircle() {
      // Get selected values from dropdowns
      var dropdown1Value = document.getElementById("dropdown1").value;
      var dropdown2Value = document.getElementById("dropdown2").value;
  
      // Show the loading circle
      document.getElementById("loading-circle").style.display = "block";
  
      // Make an AJAX request to execute_dummy endpoint with parameters
      fetch(`/execute_dummy/?dropdown1=${dropdown1Value}&dropdown2=${dropdown2Value}`)
        .then(function(response) {
          return response.json();
        })
        .then(function(data) {
          // Handle the response data
          console.log('Result:', data.result);
          document.getElementById("loading-text").innerText = data.result;
          document.getElementById("loading-text").style.display = "block";
          document.getElementById("loading-circle").style.display = "none";
          // You can update the page or handle the result as needed
        })
        .catch(function(error) {
          console.error('Error:', error);
          document.getElementById("loading-text").innerText = "Error";
          document.getElementById("loading-text").style.display = "block";
          document.getElementById("loading-circle").style.display = "none";
        });
  
      // Submit the form
      //document.querySelector("form").submit();
    }
  </script>

{% endblock %}