{% extends "base.html" %} {% block title %}Create Page{% endblock %}

{% block homeActive %}"nav-item"{% endblock %}
{% block createActive %}"nav-item active"{% endblock %}
{% block contactActive %}"nav-item"{% endblock %}



{% block content %}

<div>
    <p>This is our create page</p>
    <p>Here you can choose from a variety of options to create different videos</p>
</div>


<form>
    <label for="dropdown1">Content:</label>
    <select id="dropdown1" name="dropdown1">
        <option value="option1">r/AITAH</option>
        <option value="option2">r/TIFU</option>
        <option value="option3">News</option>
    </select>

    <br>

    <label for="dropdown2">Video:</label>
    <select id="dropdown2" name="dropdown2">
        <option value="optionA">Subway Surfers</option>
        <option value="optionB">Generated Images</option>
        <option value="optionC">Minecraft Parkour</option>
    </select>

    <br>

    <form action="/content/" method="post">
        <label for="content">Choose content: </label>
        <input id="content" type="text" name="content" value="{{ current_name }}">
        <input type="submit" value="OK">
    </form>

    <a href="{% url 'home' %}"><input type="submit" value="Submit" href="{% url 'home' %}"></a>
  
    <br>
    <br>
    <center>
        Search Employees using Dropdown Search
        <hr>
        <form method="POST>">
            {% csrf_token %}
            <select name="gender">
                <option selected disabled=true>Select Content</option>
                <option>r/AITAH</option>
                <option>r/TIFU</option>
                <option>Other</option>
            </select>
            <select name="designation">
                <option selected disabled=true>Select Video</option>
                <option>Subway Surfers</option>
                <option>Generated Images</option>
                <option>Minecraft</option>
            </select>
            <input type="submit" value="Search">
            <hr>
            <table border="1">
                <tr>
                    <th>Employee ID</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Designation</th>
                </tr>
                {% for result in data %}
                <tr>
                    <td>{{result.emp_id}}</td>
                    <td>{{result.name}}</td>
                    <td>{{result.gender}}</td>
                    <td>{{result.designation}}</td>
                </tr>
                {% endfor %}
            </table>

        </form>

    </center>


</form>

<video width="480" height="360" controls >
    <source src="../static/videos/video.mp4" type="video/mp4">
</video>



{% endblock %}