{% extends "base.html" %}

{% block title %}Create Page{% endblock %}
{% block homeActive %}"nav-item"{% endblock %}
{% block createActive %}"nav-item active"{% endblock %}


{% block content %}
<br />
<p class="createDescription center">We webscrape history.com to help you generate informative videos. Either choose one of the given topics or insert your own history.com article link. Choose your video and then hit generate to let the magic happen!</p>

<br />

<!-- Topic Dropdown -->
<div class="center" id="topicDropdown">
    <label class="dropdownLabel" for="dropdown1">Topic:</label>
    <select class="dropdown" id="dropdown1" name="dropdown1">
        <option value="https://www.history.com/topics/american-civil-war/american-civil-war-history">American Civil War</option>
        <option value="https://www.history.com/topics/cold-war/berlin-wall">Berlin Wall</option>
        <option value="https://www.history.com/topics/middle-ages/black-death">Black Death</option>
        <option value="https://www.history.com/topics/black-history/harriet-tubman">Harriet Tubman</option>
        <option value="https://www.history.com/topics/exploration/marco-polo">Marco Polo</option>
        <option value="https://www.history.com/topics/world-war-i/world-war-i-history">World War I</option>
    </select>
</div>

<br />
<div class="center">
  <label class="dropdownLabel" for="dropdown2">Video:</label>
  <select class="dropdown" id="dropdown2" name="dropdown2"> 
    <option value="Subway Surfers">Subway Surfers</option>
    <option value="Generated Images">General Videos</option>
    <option value="Minecraft Parkour">Minecraft Parkour</option>
  </select>
</div>

<div class="container hover">
  <a href="#" class="button generateBtn" onclick="submitFormAndShowLoadingCircle(this)">Generate</a>
</div> 

{% comment %} Download Video {% endcomment %}
<div class="container hover">
  <a href="{% url 'download_video' %}" class="button generateBtn">Download</a>
</div>

{% comment %} Loading circle {% endcomment %}
<div class="center" id="loading-circle1" style="display: none">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div id="loading-text" style="padding-left: 20px">
    Generating text... This may take a while
  </div>
</div>

{% comment %} Embed Video {% endcomment %}
<div class="center">
  <p id="ai-text" style="display: flex"></p>
</div>

<div class="center" id="generated-video" style="display: none">
  <video class="center video" width="480" height="360" controls class="video">
    <source src="../static/videos/test_output.mov" type="video/quicktime" />
    Your browser does not support rendering MOV videos.
  </video>
</div>

<div class="center" id="loading-circle2" style="display: none; margin: 20px">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div id="loading-text" style="padding-left: 20px">
    Generating video... This may take a while
  </div>
</div>

<script>
    function submitFormAndShowLoadingCircle(button) {
      button.innerText = "Regenerate";
      // Get selected values from dropdowns
      var dropdown1Value = document.getElementById("dropdown1").value;
      var dropdown2Value = document.getElementById("dropdown2").value;
  
      // Show the loading circle
      document.getElementById("loading-circle1").style.display = "flex";
      document.getElementById("loading-text").innerText =
      "Generating text... This may take a while";
  
      // Make an AJAX request to execute_dummy endpoint with parameters

      fetch(`/execute_history/?dropdown1=${dropdown1Value}&dropdown2=${dropdown2Value}`)
        .then(function(response) {
          return response.json();
        })
        .then(function(data) {
          // Handle the response data from dummy_execute
          console.log("Result from dummy_execute:", data.result);
          document.getElementById("loading-circle1").style.display = "none";
          document.getElementById("loading-circle2").style.display = "flex";
          document.getElementById("ai-text").innerText = data.result;
          document.getElementById("loading-text").innerText =
          "Generating video... This may take a while";
          document.getElementById("ai-text").style.display = "flex";

          // Call the function for the second AJAX request
          performSecondRequest(data.result, dropdown2Value);
        })
        .catch(function(error) {
          console.error('Error:', error);
          document.getElementById("loading-text").innerText = "Error";
          document.getElementById("loading-text").style.display = "block";
          document.getElementById("loading-circle").style.display = "none";
        });

        function performSecondRequest(param1, param2) {
          document.getElementById("generated-video").style.display = "none";
          // Make a second AJAX request to dummy_video with the parameters
          fetch(`/execute_video/?param1=${param1}&param2=${param2}`)
            .then(function (response) {
              return response.json();
            })
            .then(function (data) {
              // Handle the response data from dummy_video
              console.log("Result from execute_video:", data.result);
              document.getElementById("loading-circle2").style.display = "none";
              document.getElementById("generated-video").style.display = "flex";
              document.getElementById("generate-btn").innerText = "Re-Generate";
              // You can update the page or handle the result as needed
            })
            .catch(function (error) {
              console.error("Error:", error);
              document.getElementById("loading-circle2").style.display = "none";
              document.getElementById("loading-text").innerText = "Error";
              document.getElementById("loading-text").style.display = "flex";
              document.getElementById("generate-btn").innerText = "Re-Generate";
            });
        }
  
      // Submit the form
      //document.querySelector("form").submit();
    }
  </script>



{% endblock %}