{% extends "base.html" %}
{% block title %}Create Page{% endblock %}
{% block homeActive %}"nav-item"{% endblock %}
{% block createActive %}"nav-itemactive"{% endblock %}
{% block content %}

{% comment %}
{% extends "base.html" %}
{% block title %}Create Page{% endblock %}
{% block homeActive %}"nav-item"{% endblock %}
{% block createActive %}"nav-itemactive"{% endblock %}
{% block content %}
{% endcomment %}

<br />
<p class="createDescription center">
  Choose the Subreddit that you want the text from and the background video from
  the dropdowns. Then hit generate and let the magic happen!
</p>
<br />

<div class="center">
  <label class="dropdownLabel" for="dropdown1">Content:</label>
  <select class="dropdown" id="dropdown1" name="dropdown1">
    <option value="https://www.reddit.com/r/AITAH/">r/AITAH</option>
    <option value="https://www.reddit.com/r/tifu/">r/TIFU</option>
    <option value="https://www.reddit.com/r/stories/">r/stories</option>
    <option value="https://www.reddit.com/r/wholesomestories/">
      r/wholesomestories
    </option>
    <option value="https://www.reddit.com/r/confessions/">r/confessions</option>
    <option value="https://www.reddit.com/r/relationship_advice/">
      r/relationship_advice
    </option>
  </select>
</div>

<br />
<div class="center">
  <label class="dropdownLabel" for="dropdown2">Video:</label>
  <select class="dropdown" id="dropdown2" name="dropdown2">
    <option value="Subway Surfers">Subway Surfers</option>
    <option value="Generated Images">General Videos</option>
    <option value="Minecraft Parkour">Minecraft Parkour</option>
  </select>
</div>

{% comment %} Generate Video Button {% endcomment %}
<div class="container hover">
  <a
    href="#"
    class="button generateBtn"
    onclick="submitFormAndShowLoadingCircle(this)"
    >Generate</a
  >
</div>

{% comment %} Download Video {% endcomment %}
<div class="container hover">
  <a href="{% url 'download_video' %}" class="button generateBtn">Download</a>
</div>

{% comment %} Loading circle {% endcomment %}
<div id="loading-circle" style="display: none">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div id="loading-text" style="display: none">Loading...</div>

{% comment %} Embed Video {% endcomment %}
<div class="center">
  <video class="center video" width="480" height="360" controls class="video">
    <source src="../static/videos/test_output.mov" type="video/quicktime" />
    Your browser does not support rendering MOV videos.
  </video>
</div>

<script>
  function submitFormAndShowLoadingCircle(button) {
    button.innerText = "Regenerate";
    // Get selected values from dropdowns
    var dropdown1Value = document.getElementById("dropdown1").value;
    var dropdown2Value = document.getElementById("dropdown2").value;

    // Show the loading circle
    document.getElementById("loading-circle").style.display = "block";

    // Make an AJAX request to execute_dummy endpoint with parameters
    fetch(
      `/execute_real/?dropdown1=${dropdown1Value}&dropdown2=${dropdown2Value}`
    )
      .then(function (response) {
        return response.json();
      })
      .then(function (data) {
        // Handle the response data
        console.log("Result:", data.result);
        document.getElementById("loading-text").innerText = data.result;
        document.getElementById("loading-text").style.display = "block";
        document.getElementById("loading-circle").style.display = "none";
        // You can update the page or handle the result as needed
      })
      .catch(function (error) {
        console.error("Error:", error);
        document.getElementById("loading-text").innerText = "Error";
        document.getElementById("loading-text").style.display = "block";
        document.getElementById("loading-circle").style.display = "none";
      });

    // Submit the form
    //document.querySelector("form").submit();
  }
</script>

{% endblock %}
